
:root {
  --yellow: #fff082;
  --text: #ffffff;
  --background: #282828;

}


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: var(--background);
}

.loaderContainer{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: loadisappear;
  animation-duration: 0.1s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}

@keyframes loadisappear{
  0% {height:100vh}
  100% {height:0vh}
}

.textContainer{
  height: 0px;
  color: white;
  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding-left: 5%;
  padding-right: 10%;
  animation-name: appearing;
  animation-duration: 3s;
  animation-delay: 2.2s;
  overflow: hidden;
  animation-fill-mode: forwards;
}

@keyframes appearing {
  0%    {height:0}
  0%    {opacity: 0}
  20%   {height:100vh}
  20%   {opacity: 0}
  100%  {opacity: 1}
  100%  {min-height:620px}
  100%  {padding-top: 30px}
  100%  {padding-bottom: 30px}
  100%  {height:90vh}
}


.loadbarOne{
  background-color: transparent;
  width: 100px;
  height: 100px;
  animation-name: loading;
  animation-duration: 2.5s;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  animation-fill-mode: forwards;
  border-radius: 100%;
}

.loadbarTwo{
  background-color: var(--yellow);
  position: relative;
  width: 102%;
  height: 102%;
  animation-name: loadmoving;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes loading {
  0%    {width:  0}
  0%    {height: 0}
  0%   {background-color: transparent}

  25%   {width: 100px}
  25%   {height: 100px}
  25%   {border-radius: 100%;}
  25%   {background-color: transparent}
  26%   {background-color: var(--text)}

  38%   {border-radius: 100%;}

  52%   {transform: rotate(0deg);}

  85%   {height: 100px}
  85%   {width: 100px}
  70%   {border-radius: 0%;}
  85%   {transform: rotate(180deg);}

  100%  {height: 0}
  100%   {transform: rotate(180deg);}
  100%   {border-radius: 0%;}
  100%   {background-color: var(--text)}
}

@keyframes loadmoving {
  0%   {left:-100%}
  100%   {left:100%}
}





a{
  color: var(--text);
  text-decoration: none;
  transition: color 0.5s, background-color 0.5s;
}

a:hover{
  color: black;
  background-color: var(--yellow)
}


.veryBigText{
  font-size: calc(5em + 2vw);
  font-family: 'Prata', serif;
}


.bigText{
  font-size: calc(1.8em + 2vw);
  font-family: 'Prata', serif;
}

.directions{
  margin-top: 2%;
  font-size: calc(0.6em + 0.5vw);
  line-height: 160%;
  color: var(--text);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}





.contactButton{
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s;
  font-family: 'Lato', sans-serif;
  font-size: calc(0.6em + 0.5vw);

}




  @media only screen and (min-width: 2000px) {
  .bigtext {
    font-size: 100px;
  }

  .directions{
    font-size: 22px;
    letter-spacing: 0px;
  }

.textContainer{
  max-height: 2000px;
}
    }
